<div class="row">
  <div class="col-12 col-md-4 my-3" *ngFor="let doc of docs; let i = index;">
    <div class="card doc my-2 h-100">
      <div class="card-body">
        <h5 class="card-title mb-4">{{doc.name}}
          <code class="xs d-block">({{doc.username}})</code>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{doc.address.city}}</h6>
        <p class="card-text">{{doc.company.catchPhrase}}</p>
        <div class="contact py-3">
          <a href="mailto:{{doc.email}}">{{doc.email}}</a><br>
          <a href="tel:{{doc.phone}}">{{doc.phone}}</a><br>
          <a href="//{{doc.website}}" target="_blank">{{doc.website}}</a>
        </div>
        <div *ngIf="doc.showDetails === true"
             class="additionalDocData pt-2">
          <address>
            {{doc.address.city}} {{doc.address.zipcode}}<br>
            {{doc.address.street}}<br>
            {{doc.address.suite}}<br>
            <a href="http://www.google.com/maps/place/{{doc.address.geo.lat}},{{doc.address.geo.lng}}"
               target="_blank">Show on Google Maps</a>
          </address>
        </div>
        <div *ngIf="doc.showTodos"
             class="tasks">
          <h3>Doctor's tasks: </h3>
          <ol>
            <li [ngClass]="{completed: todo.completed}" *ngFor="let todo of doc.todos">{{todo.title}}</li>
          </ol>
        </div>
      </div>
      <div class="card-footer">
        <button href="#"
                class="card-link btn btn-sm btn-primary"
                (click)="checkAllData(i)">
          {{doc.showDetails ? 'Hide address' : 'Show address'}}
        </button>
        <button *ngIf="!doc.showTodos"
                href="#"
                class="card-link btn btn-sm btn-primary"
                (click)="showTasks(doc.id)">
          Show tasks
        </button>
        <button *ngIf="doc.showTodos"
                href="#"
                class="card-link btn btn-sm btn-primary"
                (click)="docs[i].showTodos = false">Close tasks
        </button>
      </div>
    </div>
  </div>
</div>
