/* You can add global styles to this file, and also import other style files */
address {
  //border-top: 1px solid darken(#cacaca, .2);
}

.xs {
  font-size: .65em;
}

.card.doc {
  //width:
}

.tasks .completed {
  text-decoration: line-through;
  color: silver;
}
